body {
    background-color: #f3f3f3;
}

h1 {
    color: black;
    font-style: normal;
    font-family: "Times New Roman", Times, serif;
    font-size: 45px;
    text-align: left;
    text-decoration: none;
    border-bottom: black 1px solid;

}


hr {
    display: block;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    border-style: inset;
    border-width: 1px;
}

h3 {

    color: black;
    font-size: 35px;
    font-family: verdana, sans-serif;
    text-transform: uppercase;
    text-align: justify;

}

h2 {

    color: black;
    font-size: 25px;
    font-style: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
    text-transform: capitalize;
    text-align: justify;

}

p {

    color: black;
    font-size: 18px;
    font-style: normal 100;
    text-align: justify;
    font-family: arial, verdana;

}

li {

    color: black;
    font-size: 18px;
    font-style: normal 100;
    text-align: justify;
    font-family: arial, verdana;

}

header {

    min-height: 70px;
    background-color: rgb(255, 223, 231);

}

.menu ul {

    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.menu li {

    padding: 20px;
    min-width: 100px;

}

.menu a:link {

    color: #6c757d;
    text-decoration: none;

}

.menu a:visited {

    color: #6c757d;
    text-decoration: none;

}

.menu a:active {

    color: #6c757d;
    text-decoration: none;

}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
    position: relative;


}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:rgb(255, 220, 235);
    text-decoration: none;
  }

  .column:hover .overlay {
    opacity: 1;
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    text-decoration: none;
  }

footer {

    background-color: rgb(255, 223, 231);
    color: #6c757d;
    font-size: 8em;

}

footer p {

    line-height: 35px;
}

footer.container {

    display: flex;
}

footer.menu a {

    color: #6c757d
}

.home img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 30px;

}

.container {
    max-width: 960px;
    margin: auto;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;

}

div.b {
    text-decoration-line: underline;
}

div.g {

    text-align: justify;
    margin: 0.5%;
    border: 1px solid transparent;
    background-color:  #f3f3f3;
    box-shadow: 5px 5px #e4c8c8;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;


}

div.images {

  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;

}

.obra{
    padding: 80px 180px 80px 100px;
}

.obra img {
    float: left;
    width: 300px;
    margin-right: 20px;
    margin-left: auto;

}

.obra h1 {
    color: black;
    font-weight: normal;
    border-bottom: black 0px solid;
    font-style: normal;
    font-family: "Times New Roman", Times, serif;
    font-size: 45px;
    text-align: left;
    text-decoration: none;
}

.obra h2 {
    color: black;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 40px;

}

div.h {

    text-align: center;
    margin: 0.05%;
    border: 1px solid transparent;
    background-color:  #black;
    box-shadow: 15px 15px #e4c8c8;
    padding-top: 50px;
    padding-right: 70px;
    padding-bottom: 50px;
    padding-left: 200px;
}

.jogo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  margin-top: : 10px;

}
